<style type="text/css">
	body {
		padding-top: 20px;
		padding-bottom: 40px;
	}

	/* Custom container */
	.container-narrow {
		margin: 0 auto;
		max-width: 700px;
	}
	.container-narrow > hr {
		margin: 30px 0;
	}

	/* Main marketing message and sign up button */
	.jumbotron {
		margin: 60px 0;
		text-align: center;
	}
	.jumbotron h1 {
		font-size: 72px;
		line-height: 1;
	}
	.jumbotron .btn {
		font-size: 21px;
		padding: 14px 24px;
	}

	/* Supporting marketing content */
	.marketing {
		margin: 60px 0;
	}
	.marketing p + h4 {
		margin-top: 28px;
	}
</style>
<div class="container-narrow">

	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li class="active">
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/contact">Contact Us</a>
			</li>
			
			
		</ul>
		<h3 class="muted">(PaaS)</h3>
	</div>

	<hr>

	<div class="jumbotron">
		<h1>MangoRaft</h1>
		<p class="lead">
			PaaS offerings facilitate the deployment of applications without the cost and complexity of buying and managing the underlying hardware and software and provisioning hosting capabilities.
		</p>
		<a class="btn btn-large disabled btn-success" href="#">Sign up today</a>
	</div>

	<hr>

	<div class="row-fluid marketing">
		<div class="span6">
			<h4>Multi-tenant </h4>
			<p>
				PaaS offerings typically attempt to support use of the application by many concurrent users, by providing concurrency management, scalability, fail-over and security. The architecture enables defining the "trust relationship" between users in security, access, distribution of source code, navigation history, user (people and device) profiles, interaction history, and application usage.
			</p>

			<h4>Integration web services</h4>
			<p>
				Support for SOAP and REST interfaces allow PaaS offerings to create compositions of multiple web services, sometimes called "mashups" as well as access databases and re-use services maintained inside private networks. Support for keeping the user/relationships (if multiple users)/device context and profile through the mashup across web services, databases and networks.
			</p>

		</div>

		<div class="span6">

			<h4>Web-based user-interface</h4>
			<p>
				Some PaaS offerings provide a level of support to ease the creation of user interfaces, either based on standards such as HTML and JavaScript or other Rich Internet Application technologies like Adobe Flex, Flash and AIR. This might allow rich, interactive, multi-user environments and scenarios can be defined, tried out by real people (non-programmers), with tools that make it easy to log/single out features that annoy or frustrate either novices or experts. Creation tools might allow interfaces to be defined for different user profiles by function or expertise.
			</p>
			<h4>Restrictions</h4>
			<p>
				MangoRaft is free up to a certain level of consumed resources. Fees are charged for additional storage, bandwidth, or instance hours required by the application.
			</p>
		</div>
	</div>

	<hr>

	<div class="footer">
		<p>
			&copy; MangoRaft 2012
		</p>
	</div>

</div>
<!-- /container -->